<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xbitsServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <xbitsServer.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Bottom" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>someone@gmail.com</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="radiobutton_Wifi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radiobutton_com" serializeAs="String">
                <value>False</value>
            </setting>
        </xbitsServer.Properties.Settings>
    </userSettings>
</configuration>